name: Self-Healing CI/CD

on:
  workflow_dispatch:

jobs:
  self_heal:
    runs-on: ubuntu-latest

    steps:
    - name: Install build dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential python3-dev
    - name: Checkout the code
      uses: actions/checkout@v2

    - name: Set up Python 3.10
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: |
        # python -m pip install --upgrade pip
        pip3 install -r requirements.txt
        # pip install openai github
    - name: Run python script
      run: |
        pwd
        ls -la
        python3 app.py > /home/runner/work/self-heal-CI-CD/self-heal-CI-CD/error.txt 2>&1
        

    - name: Run self-healing script
      if: failure()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
      run: |
        pwd
        ls -la
        cat /home/runner/work/self-heal-CI-CD/self-heal-CI-CD/error.txt
        python self_heal.py

    - name: Slack notification (optional)
      if: success()
      run: |
        curl -X POST -H 'Content-type: application/json' --data '{"text":"Self-healing workflow completed. PR created with the fix!"}' ${{ secrets.SLACK_WEBHOOK_URL }}
